* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #fff;
}

nav a {
  text-decoration: none !important;
}

.nav-left a {
  font-family: Heebo;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;

  color: #333333;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-self: center;
}

.nav-right a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #333333;
}

.mobile-hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

.mobile-nav {
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease;
  position: fixed;
  top: -100vh;
  left: 0;
  background-color: #38a5ee;
  z-index: 9999;
}

.mobile-nav.active {
  top: 0;
}

.mobile-nav ul {
  text-align: center;
  padding-top: 100px;
}

.mobile-nav ul li {
  margin-bottom: 40px;
}

.mobile-nav ul li.active a {
  font-weight: bold;
}

.mobile-nav ul li a {
  color: #fff;
  font-size: 2rem;
}

.mobile-hamburger i {
  cursor: pointer;
  font-size: 2rem;
}

.mobile-close {
  position: absolute;
  top: 30px;
  right: 20px;
}

.mobile-close i {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.content .row .card {
  margin: 15px;
}

.content .row .card:hover {
  box-shadow: 0px 10px 30px rgba(34, 33, 33, 0.1);
  border-radius: 24px;
}

@media (max-width: 1000px) {
  .nav-left a {
    font-size: 27px;
  }
  .nav-right a {
    font-size: 16px;
  }
}

@media (max-width: 736px) {
  .nav-right {
    display: none;
  }

  .mobile-hamburger,
  .mobile-nav {
    display: block;
  }
}
